@import 'vars';

.text-404 {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
  }
  
  .title-404 {
    color: $--hospital-green;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-align: center;
    font-size: 10em;
    font-weight: 100;
  }